<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615967067191-ckk85fvn02hndkhsvcnno6qp943i7dk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615967067191-ckk85fvn02hndkhsvcnno6qp943i7dk7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>615967067191-nc2e37gru8q500ch62n9qsn3rpjfqhi5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAx2HMHEtRhFJ1Tq-0PU4uUoc6EQrUzPCA</string>
	<key>GCM_SENDER_ID</key>
	<string>615967067191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notexCreator.com</string>
	<key>PROJECT_ID</key>
	<string>notexapi</string>
	<key>STORAGE_BUCKET</key>
	<string>notexapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615967067191:ios:5bd28c4aca2e1d945303b2</string>
	<key>DATABASE_URL</key>
	<string>https://notexapi-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>